.table-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  white-space: nowrap;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}

table {
  font-family: Iosevka, monospace;
}

td[class*="Decimal"] {
  text-align: right;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
  padding-left: 1rem;
  border-left: 1px solid white;
}

.boundary:last-of-type {
  border-right: 1px solid black;
}

/* table th:nth-child(2n) { */
/*   background-color: grey; */
/* } */

.fade {
  opacity: 0.5;
}
th {
}

tr > th[colspan="1"] {
  text-align: left;
}
tr > th {
  text-align: center;
}

tbody[role="rowgroup"] tr[role="row"] {
  /* background-color: #cccccc; */
}

td[colspan="4"] {
  padding: 0;
}
td[colspan="4"] table {
  /* border: none; */
  /* border-width: 0; */
  /* border-collapse: collapse; */
}

tr.contract-active {
  background-color: #90ee9055;
}

tr.contract-inactive {
  background-color: lightyellow;
}

tr.not-grouped td[class*="customerContract"] {
  text-align: right;
}

/* table tr:nth-child(2n + 1) { */
/*   background-color: #dddddd; */
/* } */
table tr.grouped {
  background-color: #dddddd;
}
table tr.not-grouped {
  background-color: #eeeeee;
}

/* .not-grouped { */
/*   color: green; */
/* } */
