.table-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  white-space: nowrap;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}

table {
  font-family: Iosevka, monospace;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
}

table tr:nth-child(2n) {
  background-color: #dddddd;
}

.fade {
  opacity: 0.5;
}

tr > th[colspan="1"] {
  text-align: left;
}
tr > th {
  text-align: center;
}

tbody[role="rowgroup"] tr[role="row"] {
  /* background-color: #cccccc; */
}

td[colspan="4"] {
  padding: 0;
}
td[colspan="4"] table {
  /* border: none; */
  /* border-width: 0; */
  /* border-collapse: collapse; */
}

tr.contract-active {
  background-color: #90ee9055;
}

tr.contract-inactive {
  background-color: lightyellow;
}
