table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
tr > th[colspan="2"] {
  text-align: center;
}

td[colspan="4"] {
  padding: 0;
}
td[colspan="4"] table {
  /* border: none; */
  /* border-width: 0; */
  /* border-collapse: collapse; */
}

tr.contract-active {
  background-color: #90ee9055;
}

tr.contract-inactive {
  background-color: lightyellow;
}
